@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:AlHurraT ;
    src: url(./font/Al-Hurra-Txtreg-Bold.ttf);
}
@font-face {
    font-family: AlHurraB;
    src: url(./font/Al-Hurra-Txtreg-Light.ttf);
}



/* ._screenPadding {
    @apply px-[40px] xl:px-[140px] md::px-[120px] sm::px-[80px] 
} */


@layer utilities {
    .screenPadding {
      @apply px-[16px] sm:px-[32px] md:px-[64px]  xl:px-[140px] 
    }
  }